[user]
    name=Dmitry Mozzherin
    email=dmozzherin@gmail.com
[github]
	user = dimus
[color]
    branch=auto
    diff=auto
    status=auto
[color "branch"]
    current=yellow reverse
    local=yellow
    remote=green
[color "diff"]
    meta=yellow bold
    frag=magenta bold
    old=red bold
    new=green bold
[color "status"]
    added=yellow
    changed=green
    untracked=cyan

[merge]
  tool = vimdiff
[mergetool]
  prompt = true
[mergetool "vimdiff"]
  cmd = nvim -d $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[difftool]
  prompt = false
[diff]
  tool = vimdiff
[branch]
    autosetupmerge=true
[alias]
    co=checkout
    st=status -sb
    ci=commit
    br=branch
    l=log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
    pull=pull -p
[push]
	default = simple
[url "git@github.com:"]
	insteadOf = https://github.com/
[url "git@gitlab.com:"]
	insteadOf = https://gitlab.com/
[pull]
	rebase = true
