[Unit]
Description=Changes background

[Service]
Type=oneshot
ExecStart=/usr/bin/nitrogen --set-zoom --random --set-color=#000000 --save

[Install]
WantedBy=default.target
